/* Custom styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

/* Style untuk card materi */
.materi-card {
    transition: transform 0.3s;
}

.materi-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    /* Opsional: tambahkan efek visual */
}

.card-img-top {
    width: 20%;
    height: 20%;
}